* {
    margin: 0%;
    padding: 0%;
}

#imgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
    z-index: -1;

}

#imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 150px;
}

h1 {
    margin: 0;
    margin-top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: oblique  120% cursive;
    font-style: italic;
    font-size: 1.5em;
    background-image: linear-gradient(#0b0e0f, #ff0080, #0b0e0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-align: center;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 0.8em;
}

#imgGoogle {
    margin: 3px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    width: 20px;
    background-color: white;
    height: 20px;
}

#buttonGoogle {
    height: 30px;
    position: relative;
    background-color: rgba(179, 234, 103, 0);
    border: 0px;
    font-weight: bolder;
    font-size: 1em;
    margin-left: 55px;
    color: rgb(6, 167, 203);
}

#containerGoogle {
    width: 280px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}



#imgFace {
    margin: 3px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    width: 20px;
}

#buttonFace {
    height: 30px;
    position: relative;
    background-color: rgba(179, 234, 103, 0);
    border: 0px;
    font-weight: bolder;
    font-size: 1em;
    color: blue;
    margin-left: 55px;
}

#containerFace{
    width: 280px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 20px;
    background-color: rgba(242, 236, 236, 0.89);
    text-align: left;
    border-radius: 3px;
    border: 0px;
    font-size: 0.90em;
    padding: 3px;
}

#record {
    background-color: rgb(75, 220, 106);
    width: 200px;
    height: 30px;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
}

#buttonInit {
    background-color: rgb(51, 188, 247);
    font-size: 1em;
    width: 280px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
}

#buttonLogin{
    background-color: rgb(75, 220, 106);
    width: 200px;
    height: 30px;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
}

#buttonGoBack {
    background-color: rgba(130, 133, 131, 0.462);
    width: 200px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 6px;
    color: rgb(9, 8, 8);
}